<!--TODO: 
      Rename this to ConnectionStrings.config and enter 
      your Products Database connection string
-->
<appSettings>
  <connectionStrings>
    <add name="ProductsDB" connectionString="data source="
    <SERVER>
      ;initial catalog=<DATABASE>
        ;persist security info=True;user id=<USER>
          ;password=<PASSWORD>;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</appSettings>